<!doctype html>
<html>
    <head>
        <title>Login Page</title>
        <link href="index.css">
        <link rel="stylesheet" href= "{{ url_for('static', filename='styles/index.css') }}" type="text/css">
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
        <form method="POST">
          <div class="sidenav">
            <div class="login-main-text">
              <h2 class="h2_tag">Application <br> Login Page</h2>
              <p>Login or register from here to access.</p>
           </div>
          </div>
          <main class="main">
            <section class="col-md-6 col-sm-12">
              <div class="login-form">
                <form method="POST">
                   <div class="form-group">
                     <label for="usr_name">User Name</label>
                     <input name="usr_name" type="text" class="form-control" id= "usr_name" aria-describedby="emailHelp" placeholder="Enter UserName">
                     <small id="emailHelp" class="form-text text-muted">We'll never share your UserName with anyone else.</small>
                   </div>
                   <div class="form-group">
                     <label for="pas_ui">Password</label>
                     <input name = "password" type="password" class="form-control" id="pas_ui" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                   </div>
                   <div class="form-group form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                     <label class="form-check-label" for="exampleCheck1">Check me out</label>
                   </div>
                   <input type="submit" class="btn btn-primary" value="submit">
                 </form>
             </div>
            </section>

          </main>

        </form>
    </body>
</html>